{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Document{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css') }}">
    <img src="{{ url_for('.static', filename='images/AbSci_logo.png') }}" class="AbSci" alt="AbSci Logo">
{% endblock %}

{% block content %}
<body>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">

            <h1>Data Parser Input Form</h1>
            {% if files != [] %}
            <h2>There are files still in directory from last run. Select Remove</h2>
            {% for file in files %}
            <p>{{ file }}</p>
            {% endfor %}
            {% endif %}

            <p>
                {{ wtf.quick_form(form, novalidate=True) }}
            </p>

        </div>
      </div>
    </div>

<!--        <label>Project Name</label>-->
<!--        <input type="text" name="projName" value="">-->
<!--        <label>Plate Number</label>-->
<!--        <input type="number" name="plateNum">-->
<!--        <input type="submit" name=""><br>-->
<!--        <label>Attachments</label><br>-->
<!--        <label>Raw File</label>-->
<!--        <input type="file" name="rawFile"><br>-->
<!--        <label>OD File</label>-->
<!--        <input type="file" name="odFile"><br>-->
<!--        <label>Output location</label>-->
<!--        <input type="file" name="output"><br>-->

    </form>
</body>
{% endblock %}